    /*style*/
       
        @media screen and (min-width:700px){
            .menu{
                font-size: 2em;
            }
            .social .hire_button{
                font-size: 2em;
            }
        }
            body{
                background-image: url('img/bg2.jpg');
                background-repeat: no-repeat;
               /*background: darkgray;*/
                
            }
            .menu{
                border: 1px solid blue;
                text-align: center;
                background-image: linear-gradient(to right,blue,brown,green);
                margin-top:0px;
                margin-bottom: 30px;
                /*font-size: 15px;*/
            }
            .menu a{
                margin: 10px;
                font-family: serif;
                font-weight: bold;
                color: white;
                text-decoration: none;
                transition-duration: 0.5s;
                
            }
            .menu a:hover{
                background: orange;
            }
            
            .contact-list{
                align-content: center;
                width: 100%;
                font-family: serif;
                font-weight: bold;
                border: 1px solid green;
                background: white;
            }
            
            footer{
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 20px;
                font-family: serif;
                font-weight: bold;
                align-content: center;
                background: lightgray;
                bottom: 0px;
                position: fixed;
            }