           /*style*/
       
        @media screen and (min-width:700px){
            .menu{
                font-size: 2em;
            }
            .social .hire_button{
                font-size: 2em;
            }
        }
            body{
                background: white;
               /*background: darkgray;*/
                
            }
            .menu{
                border: 1px solid blue;
                text-align: center;
                background-image: linear-gradient(to right,blue,brown,green);
                margin-top:0px;
                margin-bottom: 30px;
                /*font-size: 15px;*/
            }
            .menu a{
                margin: 10px;
                font-family: serif;
                font-weight: bold;
                color: white;
                text-decoration: none;
                transition-duration: 0.5s;
                
            }
            .menu a:hover{
                background: orange;
            }
            .home-content img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }
            .home-content .intro .name,.pation{
                font-size: 20px;
                font-family: serif;
                font-weight: bold;
                margin-left: 5px;
            }
            .intro span{
                color: white;
                font-size: 20px;
                font-family: serif;
                font-weight: bold;
                background: black;
                padding: 5px;
            }
            .home-content .detail .description{
                justify-content: center;
                color: black;
                font-size: 20px;
                font-family: serif;
                font-style: italic;
                border: 1px solid blue;
                padding: 20px;
                margin: 10px;
            }
            .home-content .detail .description span{
                /*color: black;*/
                font-size: 22px;
                font-weight: bold;
                font-family: serif;
                background: white;
            }
            .description .html{ color: darkorange;}
            .description .css{ color: blue;}
            .description .js{ color: #ccff00;}
            
            .social{
                font-size: 30px;
                text-align: center;
            }
            .social b{
                margin: 10px;
            }
            .social .hire_button{
                font-size: 20px;
                color: white;
                font-family: serif;
                font-weight: bold;
                border-radius: 5%;
                transition-duration: 1.5s;
                background: #007bff;
                margin-bottom: 70px;
            }
            .social .hire_button:hover{
                background: blue;
                font-family: Times;
                color: yellow;
                padding: 10px;
                
            }
            footer{
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 20px;
                font-family: serif;
                font-weight: bold;
                align-content: center;
                background: lightgray;
                bottom: 0px;
                position: fixed;
            }