@media screen and (min-width:700px) {
    
        .page .menu{
            font-size: 3em;
        }
        
        .page .title {
            font-size: 3em;
        }
        .page .title_sub {
            font-size: 2.5em;
        }
        .page .title_sub span {
            font-size: 1em;
        }
        
        .additional_services{
          margin: 80px;
        }
        .additional_services .it_supports li {
            font-size: 2.5em;
        }
        .additional_services .it_supports dd {
            font-size: 2em;
        }
        
        footer{
          font-size: 2.5em;
        }
    }


        .page {
            margin: 5px;
        }
        .menu {
            text-align: center;
            margin-bottom: 50px;
            border: 1px solid;
            padding: 5px;
        }
        .menu a {
            margin: 5px;
            text-decoration: none;
            font-weight: bold;
            font-family: serif;
            color: black;
            border: 1px solid;
            box-sizing: border-box;
            border-radius: 20px;
            border: none;
        }
        .menu a:hover {
            background: black;
            color: white;
            padding: 5px;
        }

        .page h3 {
            text-align: center;
        }

        .title {
            margin-left: 5px;
            margin-top: 50px;
            margin-bottom: 20px;
            text-decoration: blue underline;
        }
        .title_sub {
            border: 1px solid black;
            padding: 6px;
            font-family: serif;
            word-spacing: 2px;
            padding: 5px;
        }
        .title_sub span {
            font-style: italic;
            font-weight: bold;
            color: blue;
            text-decoration: green underline dotted;
            font-size: 17px;
        }

        .additional_services {
            text-align: center;
            border: 1px solid;
            padding: 5px;
            margin: 30px;
            /* text-decoration: green underline double;
                font-size: 25px;
                margin: 50px;
                padding: 5px;*/
        }
        .additional_services .it_supports li {
            font-weight: bold;
        }
        .additional_services .it_supports dd {
            font-family: serif;
            text-align: left;
        }

        footer {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            font-family: serif;
            font-weight: bold;
            align-content: center;
            background: lightgray;
        }