            
    /*style*/
            
            @media screen and (min-width:700px){
                .menu{
                    font-size: 2em;
                }
            }
        
            .menu{
                border: 1px solid blue;
                text-align: center;
                background-image: linear-gradient(to right,blue,brown,green);
                margin-top: 0px;
                margin-bottom: 0px;
                /*font-size: 15px;*/
            }
            .menu a{
                margin: 10px;
                font-family: serif;
                font-weight: bold;
                color: white;
                text-decoration: none;
                
            }
            .menu a:hover{
                background: orange;
            }
        
            
            .title{
                text-align: center;
            }
            
            .skill_lists{
                margin-top: 10px;
                margin-bottom: 30px;
            }
            .skill_lists li{
                margin-top: 50px;
                list-style: square;
                font-family: serif;
                font-style: italic;
                color: blue;
                line-height: 5px;
                text-decoration: green underline;
                word-spacing: 5px;
            }
            .skill_lists img{
                max-width: 400px;
                max-height: 400px;
            }
            
            .title2{
                text-align: center;
                color: rgb(150,200,100);
                border: 2px solid green;
                border-radius: 5px;
                margin: 5px;
                padding: 2pc;
                font-size: 20px;
            }
            
            .tech_list{
                margin-top: 30px;
                margin-bottom: 50px;
                border: 2px solid green;
            }
            .tech_list li{
                list-style: disc;
                color: black;
                text-decoration: red underline double;
            }
         .tech_list .des{
                text-decoration: none;
                text-decoration: blue underline;
                list-style: square;
                font-family: serif;
                background: lightgray;
                font-style: bold italic;
            }
            
            footer{
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
                font-family: serif;
                font-weight: bold;
                align-content: center;
                background: lightgray;
            }